        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 50px;
            min-height: 100vh;
            background: linear-gradient(to right, #5fffa2, #5c5c5c);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .log-table {
            width: fit-content;
            background: #fff;
            padding: 30px 40px;
        }
        .log-table label {
            display: block;
            font-weight: bold;
            }
            select, input, textarea,button { 
                display: block;
            }




