    body {
      font-family: Arial;
      text-align: center;
      background-color: #f0f0f0;
      direction: rtl;
    }

    h1 {
      color: #333;
    }

    input, button {
      padding: 10px;
      margin: 10px;
    }

    .result {
      margin-top: 20px;
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      display: inline-block;
    }

    .excellent {
      background-color: #4CAF50;
      color: white;
    }

    .very-good {
      background-color: #2196F3;
      color: white;
    }

    .good {
      background-color: #FFC107;
      color: black;
    }

    .weak {
      background-color: #e7f436;
      color: rgb(0, 0, 0);
    }
    .fail {
      background-color: #F44336;
      color: white;
    }