        * {
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 50 px;
            min-height: 100vh;
            background:linear-gradient(to right, #ff7e5f, #feb47b);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .log-form {
            width: fit-content;
            background: #fff;
            padding: 30px 40px;
            border-radius: 10px;
        }
        .log-form label {
            display: block;
            font-weight: bold;
            }
            select, input, textarea,button { 
                display: block;
            }




