body {
  font-family: Arial;
  direction: rtl;
  text-align: center;
  background: linear-gradient(to right, #f0f0f0, #d42d2d);
}

nav {
  background-color: #000000;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: #444;
  margin-top: 30px;
}

input {
 background: black;
 color: white;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
}

#message {
  color: rgb(3, 159, 3);
  margin-top: 10px;
  font-weight: bold;
}

table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 60%;
}

table, th, td {
  border: 2px solid #000000;
}

th, td {
  padding: 10px;
}